@mixin before_dom_ext_input {
  color: #AAA;
  font-size:14px;
  padding: 3px;
}

.admin {
  .header {
    a { cursor: pointer }
  }

  p.error {
    color: #BB0000;
    margin-bottom: 10px;
    font-size:15px;
  }


  .global_container {
    width:1000px;
    margin-top: 10px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  > div.connected {
    > div.dump_btn_container {
      text-align: center ;

      > span {
        margin-left: 5px;
        font-size: 15px;
        color: #888;
      }
    }

    > div.games_list {
      ul > li {
        text-align: center;
        cursor: pointer;
        margin-bottom: 5px;

        > div.edit {
          padding: 10px 0;
          border: 1px solid #ddd;
          border-top: none;

          > div.game_button_action {
            margin-top: 10px;

            .button-cancel, .button-delete {
              float:left ;
              margin-left: 20px;
            }
            .button-save {
              float:right ;
              margin-right: 20px;
            }
          }

          div.dom_ext_record {
            > div:nth-child(2n) {
              background-color: #D8DFEA
            }

            div.dom_ext_list {
              padding: 10px 0 ;
              > div.dom_ext_list_elems > div.dom_ext_list_elem {
                background-color: #EEE;
                margin: 0 10px 10px;
                padding: 5px 0;
              }
            }


            div.dom_ext_option::before {
              @include before_dom_ext_input;
              content:"(opt)"
            }

            div.dom_ext_string::before {
              @include before_dom_ext_input;
              content:"(str)";
            }

            div.dom_ext_float::before {
              @include before_dom_ext_input;
              content:"(float)"
            }

            div.dom_ext_int::before {
              @include before_dom_ext_input;
              content:"(int)"
            }

          }
        }
      }

      > div.new_game_div {
        width: 939px;
        margin-left: 21px;
      }
    }
  }

  > div.not_connected {
    width: 220px;
    margin: 0 auto;

    button {
      float: right ;
    }
  }
}