$header_heigth: 102px;
$common_width: 1170px;
$second_width: 960px;
$font-family-title: Impact,Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;

body.main {
  padding-top: $header_heigth;
  header {
    height:$header_heigth;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white ;
    border-bottom: 1px solid #ebebeb;

    > div {
      width: $common_width ;
      margin: 0 auto ;
      > span.logo {
        display: inline-block ;
        float: left ;
        background: url(img/chip8_logo.svg);
        background-size: 180px 180px;
        background-position: -14px -36px;
        width: 150px;
        height: 107px;
      }

      > span.logo_txt {
        font-family: $font-family-title ;
        display: inline-block ;
        font-size: 42pt;
        line-height: 107px;
        color: #333;
        margin-left: 5px;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
  }

  div.container {
    margin-top: 50px;
    width: 985px ;

    div.canvas_div {
      width: 960px ;
      margin: 0 auto;

      > div {
        > canvas {
          @include box-shadow(black 2px 2px 10px);
        }

        &.instruction {
          @include box-shadow(black 2px 2px 10px);
          height: 320px;
          margin-left: 0;
        }
      }
    }

    div.game_list {
      margin: 25px auto;

      font-family : $font-family-title ;
      text-align: center;

      > div.game {

        &:nth-child(4n + 1) {
          margin-left: 0;
        }

        &:hover {
          background-color: #EEE;
        }

        @include border-radius(4px);
        margin-bottom: 10px;
        cursor: pointer ;
        padding: 5px;
        height: 140px;

        img {
          width: 215px;
          margin-bottom: 5px;
        }
      }
    }

  }
}
